<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.hometitle != '' %}
          <h1 class="text-center">{{site.hometitle}}</h1>
          {% endif %}

          {% if site.headshot != '' %}
          <p class="text-center">
            <img src="{{site.headshot}}" class="headshot" alt="Photo of {{site.title}}" />
          </p>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}
          </p>
          <p class="text-center">
            Fancy a chat?
            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">

            {% if site.github_username != '' %}
              <a href="https://github.com/{{ site.github_username }}"><button class="btn btn-default"><i class="fa fa-github fa-lg"></i>Github</button></a>
            {% endif %}
            {% if site.linkedin_username != '' %}
              <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><button class="btn btn-default"><i class="fa fa-linkedin fa-lg"></i>LinkedIn</button></a>
            {% endif %}
            {% if site.instagram_username != '' %}
              <a href="https://instagram.com/{{ site.instagram_username }}"><button class="btn btn-default"><i class="fa fa-instagram fa-lg"></i>Instagram</button></a>
            {% endif %}
            {% if site.reddit_username != '' %}
              <a href="https://www.reddit.com/user/{{ site.reddit_username }}"><button class="btn btn-default"><i class="fa fa-reddit fa-lg"></i>Reddit</button></a>
            {% endif %}
            {% if site.youtube_channel != '' %}
              <a href="https://youtube.com/channel/{{ site.youtube_channel }}"><button class="btn btn-default"><i class="fa fa-youtube-play fa-lg"></i>YouTube</button></a>
            {% endif %}
            {% if site.tiktok_username != '' %}
              <a href="https://tiktok.com/@{{ site.tiktok_username }}"><button class="btn btn-default"><i class="fa fa-tiktok fa-lg"></i>TikTok</button></a>
            {% endif %}
            {% if site.facebook_username != '' %}
              <a href="https://facebook.com/{{ site.facebook_username }}"><button class="btn btn-default"><i class="fa fa-facebook fa-lg"></i>Facebook</button></a>
            {% endif %}
            {% if site.twitter_username != '' %}
              <a href="https://twitter.com/{{ site.twitter_username }}"><button class="btn btn-default"><i class="fa fa-twitter fa-lg"></i>Twitter</button></a>
            {% endif %}
            {% if site.medium_username != '' %}
              <a href="https://medium.com/@{{ site.medium_username }}"><button class="btn btn-default"><i class="fa fa-medium fa-lg"></i>Medium</button></a>
            {% endif %}

          </div>

        </div>

      </div>

      <!--
      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>
      -->

    </div>

  </div>

</div>
