{% for category in site.categories %}
    {{ if category[0] == 'press' }}
        <main id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% if site.section_title != '' %}
                            <h2 class="section-title text-center">All {{ site.section_title }}</h2>
                        {% endif %}
                        {% if site.section_subtitle != '' %}
                            <p class="section-subtitle text-center">{{ site.section_subtitle }}</p>
                        {% endif %}
                        <div class="break"></div>
                        {% for post in category[1].posts %}
                            <div class="wow fadeIn">
                                {% include content.html %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
    {% endif %}
{% endfor %}