<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="google" content="notranslate" />
<meta name="description" content="{{ page.params.excerpt | default( site.params.description, true) }}"/>
<link href="https://fonts.googleapis.com/css?family=Inter:400,400i,700,700i&family=Fira+Code:wght@400&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
{% if site.params.favicon %}
<link rel="icon" href="{{ site.params.favicon | relative_url }}">
{% endif %}

{% if page.og_image %}
<meta property="og:image" content="{{ site.params.baseurl }}{{ page.og_image }}" />
{% endif %}

{% if page.og_type %}
<meta property="og:type" content="{{ page.og_type }}" />
{% else %}
<meta property="og:type" content="website" />
{% endif %}

{% if page.og_title %}
<meta property="og:title" content="{{ page.og_title }}" />
{% endif %}

{% if page.og_description %}
<meta property="og:description" content="{{ page.og_description }}" />
{% elif page.subtitle %}
<meta property="og:description" content="{{ page.subtitle }}" />
{% endif %}