{% extends "body.html" %}

{% block content %}

<div class="inner outer">

  <article class="post post-full">
    <header class="post-header inner-sm">
      <h1 class="post-title line-top">{{ page.params.title }}</h1>
      {% if page.params.subtitle %}
      <div class="post-subtitle">
        {{ page.params.subtitle | safe }}
      </div>
      {% endif %}
      {% if page.params.link %}
      <a href="{{ page.params.link }}" class="button" style="margin:1em auto 0;">
        {% if page.params.link_icon %}
          <span class="icon">
            <span class="fa {{ page.params.link_icon }}"></span>
          </span>
        {% endif %}
        View project
      </a>
      {% endif %}
    </header>
    {% if page.params.image %}
    <div class="post-image">
      <img src="{{ page.params.image | relative_url }}" alt="{{ page.params.image_alt }}" />
    </div><!-- .post-image -->
    {% endif %}
    <div class="post-content inner-sm">
      {{ page.content }}
    </div>
  </article><!-- .post -->

  <div class="press-articles">
    {% set press_articles = getPages("/press") | where("related_project", page.url) | sort(true, true, "date") %}

    {% if press_articles | length %}
    <h3 class="press-title">Press coverage</h3>
    <div class="post-feed grid grid-col-3">
    {% endif %}

      {% for article in press_articles %}
      <article class="post grid-item">
        <div class="post-inside">
          <a class="post-thumbnail" href="{{ article.params.link }}" target="_blank" rel="noopener">
            <img src="{{ article.params.thumb_image | relative_url }}" alt="{{ article.params.thumb_image_alt }}" />
          </a>
          <header class="post-header">
            <h3 class="post-title">
              <a href="{{ article.params.link}}" target="_blank" rel="noopener">
                {{ article.params.title }}
              </a>
            </h3>
            <div class="post-meta">
              <time class="published"
                datetime="{{ article.params.date | date_format("%Y-%m-%d %H:%M") }}">{{ article.params.date | date_format("%B %d, %Y") }}</time>
            </div>
          </header>
        </div>
      </article>
      {% endfor %}

    {% if press_articles | length %}
    </div>
    {% endif %}

  </div>

</div><!-- .inner -->

{% endblock %}