{% extends "body.html" %}

{% block content %}

<div class="inner outer">

  <header class="page-header inner-sm">
    <h1 class="page-title line-top">{{ page.params.title }}</h1>
    {% if page.params.subtitle %}
    <p class="page-subtitle">{{ page.params.subtitle }}</p>
    {% endif %}
  </header><!--.page-header -->

  <div class="portfolio-feed layout-{{ page.params.layout_style }}">
    {% set display_projects = getPages("/projects") | sort(true, true, "date") %}
    {% for post in display_projects %}
    <article class="project">
      <a href="{{ post.url | relative_url }}" class="project-link">
        {% if post.params.thumb_image %}
        <div class="project-thumbnail">
          <img src="{{ post.params.thumb_image | relative_url }}" alt="{{ post.params.thumb_image_alt }}" />
        </div>
        {% endif %}
        <header class="project-header">
          <h2 class="project-title">{{ post.params.title }}</h2>
        </header>
      </a>
      {% if post.params.badge %}
      <div class="badge {{ post.params.badge_position }} {{ post.params.badge_class }}">
        {% if post.params.badge_link %}
        <a href="{{ post.params.badge_link }}" target="_blank" rel="noopener">
        {% endif %}
          <img src="{{ post.params.badge | relative_url }}" alt="">
        {% if post.params.badge_link %}
        </a>
        {% endif %}
      </div>
      {% endif %}
    </article><!-- .project -->
    {% endfor %}
  </div><!-- .portfolio-feed -->

  <!-- Pagination TBD -->
  <!--
  <nav class="pagination inner-sm">
    <div class="nav-links">
      <a class="newer-posts button" href="#"><span class="icon-angle-left" aria-hidden="true"></span><span class="screen-reader-text">Prev</span></a>
      <span class="page-number">Showing page X of Y</span>
      <a class="older-posts button" href="#"><span class="screen-reader-text">Next</span><span class="icon-angle-right" aria-hidden="true"></span></a>
    </div>
  </nav>
  -->
  
</div><!-- .inner -->

{% endblock %}
