{% include header.html %}

    {% include home-hero.html %}

    <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            {% if site.section_title != '' %}
            <h2 class="section-title text-center">Latest {{ site.section_title }}</h2>
            {% endif %}
            {% if site.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.section_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

            {% for post in site.posts limit:3 %}
              <div class="wow fadeIn">
                {% include content.html %}
              </div>
            {% endfor %}

            <p class="text-center">
              <a href="/work">
                <button class="btn btn-lg">
                  <i class="fa fa-arrow-circle-right fa-lg"></i>See all projects
                </button>
              </a>
            </p>

          </div>
        </div>
      </div>
    </main>

{% include footer.html %}
